* {
  margin-top: 12px;
  margin-left: 12px;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: #ffd154;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.cal {
  width: 400px;
  height: 300px;
}

.screen {
  width: 320px;
  height: 50px;
  text-align: center;
  border-radius: 15px;
  margin-top: 30px;
  margin-left: 550px;
  background-color: #3d3d3d;
}

.btn {
  width: 320px;
  padding: 0px 0px 10px 5px;
  margin-left: 550px;
  border-radius: 10px;
  background-color: #3d3d3d;
}

.btn .sub-btn {
  margin-left: 14px;
  margin-right: 14px;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #3d3d3d;
}
.btn .sub-btn:hover {
  cursor: grab;
}

.plus,
.minus,
.equal {
  width: 50px;
}
